
// Body
$body-bg: #394450;

// Fonts
$fa-font-path: "webfonts";

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$white: #fff;
$black: #000;

$border-blue: #3ca4db;
$border-gray: #eff1f3;

$text-gray: #8295a7;
$text-dark: #284564;

$link: #3ca4db;
$icon-bg: #e9f6fd;

$badge-bg: #a7b5c3;
