@import 'variables';

.row {
    margin: 1.5rem 0;
}

.card {
    border: none;
}

.card-tabs {
    margin: 0 1rem;
    border-bottom: 1px solid $border-gray;

    .card-tab {
        display: inline-block;
        margin-right: 1rem;

        a {
            display:block;
            padding: 1rem 0;
            text-decoration: none;
            color: $text-gray;
            &:hover {
                color: $text-dark;
            }
        }

        &.selected {
            border-bottom: 3px solid $border-blue;
            a {
                color: $text-dark;
            }
        }
    }
}

.card-footer {
    background-color: $white;
    margin: 0 1rem;
    padding: 1rem 0;
    border-top: 1px solid $border-gray;

    .fa-circle {
        color: $icon-bg;
    }
}

// Todo
.todo {
    display: inline-block;
    width: 49%;
    margin-bottom: 1rem;
    .attachment {
        float: right;
        margin-right: 2rem;
        img {
            border-radius: 50%;
        }
    }
}

// Custom Checkbox
.checkbox {
    label {
        &:after {
            content: '';
            display: table;
            clear: both;
        }

        input[type="checkbox"] {
            display: none;

            & + .cr > .cr-icon {
                transform: scale(3) rotateZ(-20deg);
                opacity: 0;
                transition: all .3s ease-in;
            }

            &:checked + .cr {
                background-color: $bg-success;
                border: none;

                &> .cr-icon {
                    transform: scale(1) rotateZ(0deg);
                    opacity: 1;
                }
            }

            &:checked ~ .todo-text .todo-title {
                text-decoration: line-through;
                color: $text-gray;
            }

            &:disabled + .cr {
                opacity: .5;
            }
        }
    }

    .cr {
        transition: background-color 250ms ease-in-out;
        position: relative;
        display: inline-block;
        border: 1px solid darken($border-gray, 25%);
        border-radius: .25em;
        width: 1.3em;
        height: 1.3em;
        margin-right: 1em;
        top: -.5em;

        .cr-icon {
            position: absolute;
            font-size: .8em;
            line-height: 0;
            top: 50%;
            left: 20%;
        }
    }

    .todo-text {
        display: inline-block;
        .todo-subtitle {
            font-size: 0.9em;
            color: $text-gray;
        }
    }
}


// Goals
.goals {
    list-style: none;
    counter-reset: goals-counter;
    .goal {
        counter-increment: goals-counter;
        position: relative;
        padding-left: 3em;
        margin: 0 0 1em 0;
        &:before {
            content: counter(goals-counter);
            position: absolute;
            left: 0;
            top: calc(50%-2em);
            font-size: 2em;
            font-weight: 200;
            color: lighten($text-gray, 25%);
        }
        .goal-text {
            float: left;
            .goal-subtitle {
                font-size: 0.9em;
                color: $text-gray;
            }
        }
        .goal-progress {
            position: relative;
            margin-top: 10px;
            float: right;
            text-align:center;
            overflow: hidden;
            font-size: 0.75rem;
            border-radius: 0.25rem;
            padding: 0.1rem 0.5rem;
            &.progress-info {
                border: 1px solid $border-blue;
                .goal-bg {
                    background-color: $bg-info;
                }
            }
            &.progress-success {
                border: 1px solid $success;
                .goal-bg {
                    background-color: $bg-success !important;
                }
            }
            .goal-bg {
                position: absolute;
                top: 0;
                left: 0;
                bottom:0;
                z-index: 1;
            }
            .progress-text {
                position: relative;
                z-index: 2;
            }
        }
    }
}

// Finance Expenses
.expenses {
    list-style: none;
    .expense {
        position: relative;
        padding-left: 3em;
        margin: 0 0 1em 0;
        &:before {
            content: "\F155";
            font-family: 'Font Awesome 5 Free';
            position: absolute;
            left: 0;
            font-size: 2em;
            font-weight: 200;
            color: lighten($text-gray, 25%);
        }
        .expense-text {
            float: left;
            .expense-subtitle {
                font-size: 0.9em;
                color: $text-gray;
            }
        }
        .expense-progress {
            position: relative;
            margin-top: 10px;
            float: right;
            text-align:center;
            overflow: hidden;
            font-size: 0.75rem;
            border-radius: 0.25rem;
            padding: 0.1rem 0.5rem;
            &.progress-danger {
                border: 1px solid $red;
            }
            .expense-bg {
                position: absolute;
                top: 0;
                left: 0;
                bottom:0;
                z-index: 1;
            }
            .progress-text {
                position: relative;
                z-index: 2;
            }
        }
    }
}

// Contacts
.contact {
    display: inline-block;
    width: 49%;
    margin-bottom: 1rem;
    .contact-image {
        float: left;
        margin-right: 1rem;
        img {
            border-radius: 50%;
        }
    }
    .contact-text {
        float: left;
        .contact-subtitle {
            font-size: 0.9em;
            color: $text-gray;
        }
    }
}
